<div  class="divCss1">
  <h2>早餐問卷調查</h2>
  <div class="divCss2">
    <span>姓名 : 皮卡丘</span><br><br>
    <span>手機 :  09XX-XXX-XXX</span><br><br>
    <span>Email : test123&#64;gmail.com</span><br><br>
    <span>年齡 :  18</span><br><br>
    <br><br>
    <p>1 : 您通常吃早餐的時間點為何(單選)</p>
      <label>b : 07:00~09:00</label><br><br>

    <p>2 : 您通常選擇的早餐為何(多選)</p>
      <label>a : 蛋餅</label><br><br>
      <label>b : 蘿蔔糕</label><br><br>

    <!-- <p>3 : 您對臺灣的早餐類型有何看法</p>
  <input type="text" class="inputText" [(ngModel)]="inputAns"
    placeholder="例如:很多樣、太油、某樣早餐真有特色、非常神奇的早餐奶茶...ฅ(^• ɪ •^)ฅ"><br>
  <h4>您的回答為 : {{ inputAns }}</h4> -->

    <p>3 : 您對臺灣的早餐類型有何看法</p>
      <span>早餐店奶茶好喝一直喝</span>
    <div class = "divCss3">
      <button routerLink = "/questionnaire-homepage" class = "btnCss1">回首頁</button>
      <button routerLink = "/result-1" class = "btnCss1">查看數據</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
