<div class = "divCss">
  <div class = "divCss1">
    <!-- <button class="btnCss1" (click)="openDialog()">管理員登入</button> -->
    <div class="user-control-row">
      @if (!accountAuthService.currentUser()) {
        <button class="btn-login" (click)="openDialog()">登入 / 註冊</button>
      } @else {
        @if (accountAuthService.isAdmin) {
          <button class="btn-admin" routerLink="/questionnaire-manager">問卷後台</button>
        }
        <button class="btn-logout-muted" (click)="onLogout()">登出</button>
      }
    </div>
    <div class="search-section">
      <label>問卷名稱 : </label><input type='text' [(ngModel)]='searchData' placeholder="請輸入關鍵字...">
      <br><br>
      <label class="date-label">
        統計時間 : <input type="date" min="2025-11-21" max="2026-12-31" [(ngModel)]='inputDate'> ～
                  <input type="date" min="2025-11-21" max="2026-12-31" [(ngModel)]='inputDate1'>
      </label>
      <button (click)="changeInput()" class = "btn-search"><svg xmlns="http://www.w3.org/2000/svg" height="20px"
        viewBox="0 -960 960 960" width="20px" fill="#A7C4E5">
        <path
          d="M765-144 526-383q-30 22-65.79 34.5-35.79 12.5-76.18 12.5Q284-336 214-406t-70-170q0-100 70-170t170-70q100 0 170 70t70 170.03q0 40.39-12.5 76.18Q599-464 577-434l239 239-51 51ZM384-408q70 0 119-49t49-119q0-70-49-119t-119-49q-70 0-119 49t-49 119q0 70 49 119t119 49Z" />
        </svg>搜尋</button>
    </div>
  </div><br>

  <div class="mat-elevation-z8, divCss2">
    <table mat-table [dataSource]="dataSource" class="tableCss">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> 編號 </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 名稱 </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="{{element.pathQ}}">{{element.name}}</a></td>
      </ng-container>

      <!-- Published Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- StartTime Column -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> 開始時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
      </ng-container>

      <!-- EndTime Column -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
      </ng-container>

      <!-- Result Column -->
      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef> 結果 </th>
        <td mat-cell *matCellDef="let element"> <a routerLink="{{element.path}}">{{element.result}}</a></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>

<router-outlet></router-outlet>

<!-- --------------------------------------------------------------------------------------------- -->
<!-- @for(data of chartArray; track $index){
  <div style="width: 200px;">
    <canvas id="{{ data.id }}"></canvas>
  </div>
} -->
